
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}


/* added style elements to the sliders */
.slidercontainer {
  border-radius: 4px;
  height: 20px;
  width: 80%;
  position: absolute;
}

/* trying to map out the color selection on the sliders by adding a gradient background */
.slider {
  -webkit-appearance: none;  
  appearance: none;
  border-radius: 15px;
  background: -webkit-linear-gradient(20deg, red, yellow, green, blue, red 100%);
  width: 50%; 
  height: 25px; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

